h1 {
  font-weight: bold;
  font-size: 32px;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 0px;
  color: rgb(7, 36, 46);
}

body {
  font-family: "Open Sans";
  font-weight: normal;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 16px;
  min-height: 100vh;
  background-color: rgba(77, 192, 25) !important;
}

.quizzContainer {
  min-height: 80px;
  width: min(100%, 1440px);
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.card {
  margin-top: 25%;
  width: 24rem;
}

.list-group-flush {
  padding-inline-start: 0px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url(./assets/img/Group\ 8.png);
  height: 80px;
  width: 80px;
  object-fit: cover;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  margin-right: 16px;
}

.container-fluid {
  justify-content: flex-start !important;
}

.progress-bar {
  background-color: rgba(77, 192, 25) !important;
}

.progress {
  margin-top: 8px;
}

.btn-success {
  --bs-btn-bg: rgb(77, 192, 24) !important;
  --bs-btn-border-color: rgb(77, 192, 24) !important;
  --bs-btn-hover-bg: rgb(77, 192, 24) !important;
  --bs-btn-hover-border-color: rgb(77, 192, 24) !important;
  --bs-btn-active-bg: rgb(77, 192, 24) !important;
  --bs-btn-active-border-color: rgb(77, 192, 24) !important;
  --bs-btn-disabled-bg: rgb(77, 192, 24) !important;
  --bs-btn-disabled-border-color: rgb(77, 192, 24) !important;
}
